{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link href="{% static 'accounts/home.css' %}" rel="stylesheet">
{% endblock %}

{% block header %}
<nav class="py-2 bg-light border-bottom fixed-top">
    <div class="container d-flex flex-wrap">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <span class="fs-4">Zinnia</span>
        </a>
        <ul class="nav">
            <li class="nav-item"><a href="{% url 'accounts:home' %}" class="nav-link link-dark px-2">HOME</a></li>
            {% if user.is_authenticated %}
            <li class="nav-item"><a href="{% url 'accounts:user_detail' pk=user.pk %}" class="nav-link link-dark px-2">MYPAGE</a></li>
            <li class="nav-item"><a href="{% url 'shares:post_list' %}" class="nav-link link-dark px-2">All POSTS</a></li>
            <li class="nav-item"><a href="{% url 'halls:hall_list' %}" class="nav-link link-dark px-2">HALL INFO</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">TIPS</a></li>
            <li class="nav-item"><a href="{% url 'accounts:user_logout' %}" class="nav-link link-dark px-2">LOGOUT</a></li>
            {% else %}
            <li class="nav-item"><a href="{% url 'accounts:user_login' %}" class="nav-link link-dark px-2">LOGIN</a></li>
            <li class="nav-item"><a href="{% url 'accounts:regist' %}" class="nav-link link-dark px-2">SIGN UP</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <svg class="bd-placeholder-img" width="100%" height="100%" src="{{ post.picture.url }}" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Example headline.</h1>
                    <p>Some representative placeholder content for the first slide of the carousel.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" src="{{ post.picture.url }}" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

            <div class="container">
                <div class="carousel-caption">
                    <h1>Another example headline.</h1>
                    <p>Some representative placeholder content for the second slide of the carousel.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" src="{{ post.picture.url }}" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>One more for good measure.</h1>
                    <p>Some representative placeholder content for the third slide of this carousel.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container marketing">
    <div class="row">
        <h1 class="text-center pb-1">POSTS</h1>
        <small class="text-muted text-center">各サークルの公演情報や活動状況を投稿できます。</small>
        <small class="text-muted  text-center">新入生やOB・OGさん、保護者の方々向けに誰でも気軽に情報発信しましょう！</small>
        <small class="text-muted text-center pb-5">これを見てサークルに興味を持ってくれる新入生もいるかも！！</small>
        {% for post in object_list %}
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="200" height="200" src="{{ post.picture.url }}" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></i>

            <p class="text-truncate pt-3" style="max-width: auto; text-center">{{ post.title }}</p>
            {% if post.user.circle %}
                <small class="text-muted">{{ post.university }}</small>
                <small class="text-muted">{{ post.user.circle }}</small>
            {% else %}
                <small class="text-muted">{{ post.user }}</small>
            {% endif %}
            <p><a class="btn btn-sm btn-secondary" href='{%  url 'shares:post_detail' pk=post.id %}'>View details &raquo;</a></p>
        </div>
        {% endfor %}
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
            <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
        </div>
        <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{{ post.picture.url }}" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{{ post.picture.url }}" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
        </div>
        <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{{ post.picture.url }}" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
        </div>
    </div>

    <hr class="featurette-divider">
</div>
{% endblock content %}

{% block footer %}
{% include "_footer.html" %}
{% endblock footer %}
