{% extends 'base.html' %}
{% load static %}

{% block header %}
{% include "_header.html" %}
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
        <div class="card" style="padding: 50px;">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="新規登録">
            </form>
        </div>
    </div>
</div>
{% endblock %}

