{% extends 'base.html' %}
{% load static %}

{% block header %}
{% include "_header.html" %}
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <div class="card" style="padding: 50px;">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                    <input type="submit" value="ログイン">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

