{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <button><a href="{% url 'shares:post_create' %}" class="nav-link link-dark px-2">投稿画面</a></button>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <td>タイトル</td>
                <td>大学名</td>
                <td>投稿者</td>
                <td>内容</td>
                <td>写真</td>
                <td>投稿時間</td>
            </tr>
        </thead>
        <tbody>
            {% for post in object_list reversed %}
            <tr>
                <td><a href="{% url 'shares:post_detail' pk=post.id %}">{{ post.title}}</a></td>
                <td>{{ post.university }}</td>
                <td>{{ post.user }}</td>
                <td>{{ post.body }}</td>
                <td>{{ post.picture }}</td>
                <td>{{ post.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
