{% extends 'base.html' %}
{% load static %}

{% block header %}
{% include "_header.html" %}
{% endblock %}


{% for post in object_list %}
    {{ post.university }}
    {{ post.user }}
{% endfor %}


{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Album example</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <p>
            <a href="{% url 'shares:post_create' %}" class="btn btn-primary my-2">新規投稿</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
        </div>
    </div>
</section>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for post in object_list %}
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{ post.picture.url }}" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ post.title}}</text></img>

                    <div class="card-body">
                        <p class="card-text">{{ post.body }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button"  class="btn btn-sm btn-outline-secondary" onclick="location.href='{%  url 'shares:post_detail' pk=post.id %}'">Detail</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='{% url 'accounts:user_detail' pk=post.user.id %}'">ユーザー名:{{ post.user }}</button>
                            </div>
                            <small class="text-muted">{{ post.created_at|date:"Y/n/j" }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% include 'pagination.html' %}
</div>
{% endblock %}
