{% extends 'base.html' %}
{% load static %}

{% block header %}
{% include "_header.html" %}
{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row featurette py-2" style="border: solid gray;">
        <div class="col-md-7">
            <h1 class="featurette-heading d-md-flex justify-content-md-center">{{ object.title}}</h1>
            <p class="text-muted d-md-flex justify-content-md-center">{{ post.university }} {{ circle }}</p>
            <p class="lead">{{ object.body | linebreaksbr }}</p>
            <p class="text-muted d-md-flex justify-content-md-end">{{ object.user }} {{ object.created_at | date:"Y/n/j" }}</p>
        </div>
        <div class="col-md-5">
            <img src="{{ object.picture.url }}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee"/></img>
        </div>
    </div>
    {% if object.user == request.user %}
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="mt-2 btn btn-outline-secondary btn-sm" onclick='location.href="{% url 'shares:post_update' pk=post.pk %}"'>投稿編集</button>
            <button class="mt-2 btn btn-outline-secondary btn-sm" onclick='location.href="{% url 'shares:post_delete' pk=post.pk %}"'>投稿削除</button>
        </div>
    {% endif %}
</div>
{% endblock %}