{% extends 'base.html' %}
{% load static %}

{% block header %}
{% include "_header.html" %}
{% endblock %}

{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Album example</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <p>
            <a href="{% url 'shares:post_create' %}" class="btn btn-outline-primary my-2">新規投稿</a>
            <form method="get" action="{% url 'shares:post_list' %}">
                <input type="text" name="circle_name" placeholder="サークル名" value="{{ circle_name }}">
                <input type="submit" value="検索">
            </form>
            <form method="get" action="{% url 'shares:post_list' %}">
                <input type="text" name="university_name" placeholder="大学名" value="{{ university_name }}">
                <input type="submit" value="検索">
            </form>
        </p>
        </div>
    </div>
</section>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for post in object_list %}
            <div class="col">
                <div class="card shadow-sm h-100">
                    <img src="{{ post.picture.url }}" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></img>

                    <div class="card-body">
                        <h5 class="card-title text-truncate" style="max-width: 25rem;">{{ post.title }}</h5>
                        <p class="card-text text-truncate" style="max-width: 25rem;">{{ post.body }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                {% if post.user.circle %}
                                    <button type="button"  class="btn btn-sm btn-outline-success" onclick="location.href='{%  url 'shares:post_detail' pk=post.id %}'">Detail</button>
                                    <button type="button" class="btn btn-sm btn-outline-primary" onclick="location.href='{% url 'accounts:user_detail' pk=post.user.id %}'">{{ post.user.circle }}</button>
                                {% else %}
                                    <button type="button"  class="btn btn-sm btn-outline-secondary" onclick="location.href='{%  url 'shares:post_detail' pk=post.id %}'">Detail</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='{% url 'accounts:user_detail' pk=post.user.id %}'">{{ post.user }}</button>
                                {% endif %}
                            </div>
                            <small class="text-muted">{{ post.created_at|date:"Y/n/j" }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% include 'pagination.html' %}
</div>
{% endblock %}
