{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <button><a href="{% url 'shares:post_update' pk=post.pk %}" class="nav-link link-dark px-2">編集</a></button>
    <button><a href="{% url 'shares:post_delete' pk=post.pk %}" class="nav-link link-dark px-2">削除</a></button>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <td>タイトル</td>
                <td>大学名</td>
                <td>投稿者</td>
                <td>内容</td>
                <td>写真</td>
                <td>投稿時間</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ object.title}}</td>
                <td>{{ object.university }}</td>
                <td>{{ object.user }}</td>
                <td>{{ object.body }}</td>
                <td>{{ object.picture }}</td>
                <td>{{ object.created_at }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}