<nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <span class="fs-4">Zinnia</span>
        </a>
        <ul class="nav">
            <li class="nav-item"><a href="{% url 'accounts:home' %}" class="nav-link link-dark px-2">HOME</a></li>
            {% if user.is_authenticated %}
            <li class="nav-item"><a href="{% url 'accounts:user_detail' pk=user.pk %}" class="nav-link link-dark px-2">MYPAGE</a></li>
            <li class="nav-item"><a href="{% url 'shares:post_list' %}" class="nav-link link-dark px-2">All POSTS</a></li>
            <li class="nav-item"><a href="{% url 'halls:hall_list' %}" class="nav-link link-dark px-2">HALL INFO</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">TIPS</a></li>
            <li class="nav-item"><a href="{% url 'accounts:user_logout' %}" class="nav-link link-dark px-2">LOGOUT</a></li>
            {% else %}
            <li class="nav-item"><a href="{% url 'accounts:user_login' %}" class="nav-link link-dark px-2">LOGIN</a></li>
            <li class="nav-item"><a href="{% url 'accounts:regist' %}" class="nav-link link-dark px-2">SIGN UP</a></li>
            {% endif %}
        </ul>
    </div>
</nav>